[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastcore = ">=1.3.20"
numpy = "==1.21"
pillow = ">=7.1"
matplotlib = "==3.5"

[dev-packages]
build = "==0.7"
twine = "==3.7"
ipykernel = "*"
pybx = {editable = true, path = "."}

[requires]
python_version = "3.7"
