asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
black==23.3.0
bleach==6.0.0
build==0.7
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
cryptography==41.0.3
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
distlib==0.3.7
docutils==0.20.1
entrypoints==0.4
execnb==0.1.5
fastcore==1.5.27
filelock==3.12.2
flake8==5.0.4
fonttools==4.38.0
ghapi==1.0.4
identify==2.5.24
idna==3.4
importlib-metadata==6.7.0
iniconfig==2.0.0
ipykernel==6.12.0
ipython==7.34.0
jaraco.classes==3.2.3
jedi==0.19.0
jeepney==0.8.0
jupyter-client==7.4.9
jupyter-core==4.12.0
keyring==23.9.3
kiwisolver==1.4.4
matplotlib==3.5
matplotlib-inline==0.1.6
mccabe==0.7.0
more-itertools==9.1.0
mypy-extensions==1.0.0
nbdev==2.3.12
nest-asyncio==1.5.7
nodeenv==1.8.0
numpy==1.21.6
opencv-python==4.8.0.76
packaging==23.1
parso==0.8.3
pathspec==0.11.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
pip==23.2.1
pkginfo==1.9.6
platformdirs==2.6.2
pluggy==1.2.0
pre-commit==2.21.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
pygments==2.16.1
pyparsing==3.1.1
pytest==7.1.1
python-build==0.2.13
python-dateutil==2.8.2
pyyaml==6.0.1
pyzmq==25.1.1
readme-renderer==37.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
secretstorage==3.3.3
setuptools==68.0.0
setuptools-scm==7.1.0
six==1.16.0
tomli==2.0.1
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
twine==3.7
typed-ast==1.5.5
typing-extensions==4.7.1
urllib3==2.0.4
virtualenv==20.16.2
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.41.1
zipp==3.15.0
